@import "tailwindcss";

@theme {
    --font-sans: "Inter", sans-serif;
    --font-display: "Archivo Black", sans-serif;
    --font-serif-italic: "Playfair Display", serif;
}

body {
    @apply bg-white text-black antialiased font-sans;
}

h1,
h2,
h3 {
    @apply font-display uppercase tracking-tighter;
}
